@import "/src/App.scss";
.contact-card {
  background-color: $purple;
  border-radius: 10px;
  padding: 20px;
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  box-shadow: inset 30px 30px 59px $base, inset -30px -30px 59px #36004e;
}
.contact-card:hover {
  box-shadow: 8px 8px 16px #060008, -8px -8px 16px #3b0056;
  transition: 1s;
}
.contact-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: $orange;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.group {
  position: relative;
}

.form .group label {
  font-size: 14px;
  color: $aqua;
  position: absolute;
  top: -10px;
  left: 10px;
  transition: all 0.3s ease;
}

.form .group input,
.form .group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
}

.form .group input:placeholder-shown + label,
.form .group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
  border-color: #3366cc;
}

.form .group input:focus + label,
.form .group textarea:focus + label {
  top: -10px;
  left: 10px;
  color: $orange;
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  resize: none;
  height: 100px;
}

.form button {
  background-color: $deepblue;
  color: $orange;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.form button:hover {
  background-color: #27408b;
  transition: 1s;
}
