$base: #212559;
$aqua: #13bfff;
$pink: #f001df;
$purple: #55009b;
$deepblue: #00012b;
$orange: #ff7a01;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono ", sans-serif;
  color: $aqua;
  background-color: rgb(30 30 30);
  background-color: $base;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem; /* 24px */
  }
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.125rem; /* 24px */
  }
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.15rem; /* 24px */
  }
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 1.2rem; /* 32px */
  }
  .container {
    max-width: 1320px;
  }
}
